<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1>Contact</h1>


        <p>I can be reached at the following mail id: <b>subodhadhikari2023&#64;outlook.com</b></p>
        <p>Feel free to connect me on any of the following platform:</p>
        <div class="list-group shadow">
            <a href="https://www.linkedin.com/in/subodh-adhikari-4b811a296/" target="_blank"
                class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <img src="../../../assets/images/logos/linkedin.png" alt="LinkedIn" width="32px" height="32px"
                    class="flex-shrink-0 me-5">
                <h3 class="mb-0">LinkedIn</h3>
            </a>
            <a href="https://www.github.com/subodhadhikari2023" target="_blank"
                class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <img src="../../../assets/images/logos/github.png" alt="GitHub" width="32px" height="32px"
                    class="flex-shrink-0 me-5">
                <h3 class="mb-0">GitHub</h3>
                
            </a>



        </div>

    </div>
</div>