<div class="container">
    <div class="row">
        <!-- About Me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../../assets/images/Profile.png" alt="Profile Picture" width="256" height="275"
                    class="rounded-circle">
                <p>Hello, I am Subodh Adhikari.</p>
                <p>Currently, I am pursuing MCA from Sikkim Manipal Institute of Technology.</p>
                <p>
                    My main area of interest lies in backend development where I have built strong skills with Java,
                    Spring Boot, Spring Security, and Spring MVC.
                    I have developed RESTful APIs, microservices secured using JWT, and built API Gateways, alongside a
                    strong foundation in RDBMS.
                </p>
                <p>
                    I am currently interning with the Department of IT of the Government of Sikkim, applying my
                    technical knowledge to build a web-based project.
                </p>
                <p>
                    I am learning frontend frameworks such as Angular and microservice deployment using Docker to
                    broaden my expertise.
                    Mastering container management using Kubernetes or Docker Compose is my near-term goal.
                </p>
            </div>
        </div>
        <!-- Featured Projects -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Projects</h2>
                <h4>{{featuredProjects.name}}</h4>
            </div>
            <carousel>
                <div></div>
                <slide *ngFor="let picture of featuredProjects.pictures"><img src={{picture}} alt="No Image found" srcset=""
                        style="display: block;" height="550Px" width="100%"></slide>
        
            </carousel>
            <p class="mt-2">{{featuredProjects.summary}}</p>
            <p>Visit the portfolio section to learn more!</p>
        </div>
    </div>
</div>