<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Subodh Adhikari</h1>
        <h3>Full Stack Developer</h3>
    </div>
    <div style="position: absolute; bottom: 5px; right: 5px">
        <a href="https://www.linkedin.com/in/subodh-adhikari-4b811a296/" target="_blank" class="">
            <img src="../../../assets/images/logos/linkedin.png" alt="LinkedIn" width="24px" height="24px"
                class=" me-2">

        </a>
        <a href="https://www.github.com/subodhadhikari2023/" target="_blank" class="">
            <img src="../../../assets/images/logos/github.png" alt="GitHub" width="24px" height="24px"
                class=" me-2">

        </a>
    </div>
</div>