<!-- &#64; -->

  
<style>
  html, body {
    height: 100%;
    margin: 0;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }

  .content {
    flex: 1; 
  }

  footer {
    background-color: gray;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
</style>

<div class="wrapper">
  <div class="content">
  
  </div>

  <footer class="bg-secondary text-white py-4 w-100">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-start">
          <h5>Contact</h5>
          <ul class="list-unstyled">
            <li>
              <a href="mailto:subodhadhikari2023@outlook.com" class="text-white text-decoration-none">
                <i class="fas fa-envelope"></i> subodhadhikari2023&#64;outlook.com
              </a>
            </li>
            <li>
              <a href="tel:+917866094216" class="text-white text-decoration-none">
                <i class="fas fa-phone"></i> +91 78660 94216
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <h5>Social Links</h5>
          <ul class="list-unstyled d-flex justify-content-center justify-content-md-end gap-3">
            <li>
              <a href="https://www.linkedin.com/in/subodh-adhikari-4b811a296/" target="_blank" class="text-white text-decoration-none">
                <i class="fab fa-linkedin"></i> LinkedIn
              </a>
            </li>
            <li>
              <a href="https://github.com/subodhadhikari2023" target="_blank" class="text-white text-decoration-none">
                <i class="fab fa-github"></i> GitHub
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-center mt-3">
        <small>&copy; 2025 Subodh Adhikari. All rights reserved.</small>
      </div>
    </div>
  </footer>
</div>
